<!-- Heading is being made -->
<!DOCTYPE html>
<HTML>
<Body>
<h1> Wildkamera 01 </h1>
<!-- imports clock from website and defines measurements  -->
<iframe src="http://www.ixq.de/uhrzeit/white.php" width="90" height="40" frameborder="0" > </iframe>
<p> </p>
<h2> {{heading}} </h2>

<OL>
	<!-- for loop gives out pic (with video link),date,time for every elemenet in files -->
	{% for file in files -%}
	<li>
		<!--the link which leads to video lays on picture -->
		<a href="{{ url_for('videos', filename=file['video']) }}"> <img src ="{{ url_for('images', filename=file['picture']) }}"/> </a>
		<div> {{file['date']}} </div>
			<div> {{file['time']}} </div>
	</li>
{% endfor %}
</OL>
</Body>
</HTML>